/*
 * Dashboard Header
 */
#saber-dashboard-header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background: #FFF;
  margin: 0 0 0 -20px;
  padding: 0;
  border-bottom: solid 1px #DDD;
}
#saber-dashboard-header #saber-logo {
  border-right: solid 1px #DDD;
  padding: 15px 20px;
}
#saber-dashboard-header #saber-logo img {
  max-width: 200px;
}
#dashboard-header-main {
  padding: 40px 25px 25px 10px;
}
#dashboard-header-main h1 {
  color: #C9C2BF;
  margin: 0;
  font-weight: 400;
  font-size: 2.0em;
}

#breadcrumbs {
  margin: 10px 0;
}
#breadcrumbs span {
  margin: 0 8px 0 0;
}
.breadcrumb-current {
  font-weight: 600;
}

#dashboard-course-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 30px 20px 30px 0;
}

/* Dashboard widgets */
.dashboard-widget {
  max-width: 320px;
  background: #E5E5E5;
  padding: 30px;
  margin: 30px 0;
  border-top: solid 5px #DE2026;
}

.dashboard-widget h2 {
  font-size: 1.4em;
  color: #454545;
}

.dashboard-widget a.block-link {
  display: block;
  background: #30ADBE;
  color: #FFF;
  font-size: 1.4em;
  font-weight: 500;
  padding: 20px 40px;
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  line-height: normal;
  text-align: center;
}

.dashboard-widget a.block-link:hover {
  background: #DE2026;
}

.dashboard-widget table {
  margin: 30px 0;
}

.dashboard-widget table th,
.dashboard-widget table td {
  font-size: 1.4em;
  font-weight: 400;
  color: #454545;
  text-align: left;
  padding: 12px 20px;
}

.dashboard-widget table th {
  color: #656565;
}

.dashboard-widget table thead {
  border-bottom: solid 3px #272E39;
}

.dashboard-widget table a {
  display: block;
  background: #30ADBE;
  color: #FFF;
  font-size: 1.0em;
  font-weight: 500;
  padding: 5px 10px;
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  line-height: normal;
  text-align: center;
}
.dashboard-widget table a:hover {
  background: #DE2026;
}


.membership-status-notice {


}

.membership-status-notice a {

}

.membership-status-notice a:hover {

}

.dashboard-course-content-link {
  background: #00BCD5;
  color: #FFF;
  padding: 20px;
}
.dashboard-course-content-link h2 {
  color: #FFF;
  font-size: 1.6em;
}
.dashboard-course-content-link a {
  color: #FFF;
  text-decoration: none;
}
.dashboard-course-content-link a h2 {
  color: #F2F2F2;
  font-size: 1.1em;
}

/* Reports section */
#dashboard-reports-section {

}
#dashboard-reports-section header {
  background: #D7D7D7;
  color: #FFF;
  padding: 20px;
}

/* Support section */
#dashboard-support-section {
  margin: 30px 0 20px 0;
}
#dashboard-support-section header {
  background: #D7D7D7;
  color: #FFF;
  padding: 20px;
}
